@media (max-width:1399px) {
    .hero h3 {
        font-size: 35px;
    }
    .hero h1 {
        font-size: 40px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -25px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: -25px;
    }
}
 /********** 1399 e ************/

 @media (max-width:1199px) {
    .agency_img {
        width: 465px;
    }
    .service_header h5 {
        font-size: 22px;
    }
    .footer_useful_link ul li:last-child {
        margin-top: 5px;
    }
 }
  /********** 1199 e ************/

@media (max-width:1024px) {
    
}
 /********** 1024 e ************/

@media (max-width:991px) {
    header{
        display: none;
    }
    .menu_bar_desktop{
        display: none;
    }
    .menu_bar_mobile{
        display: block;
      }
      .hero h3 {
        font-size: 25px;
    }
    .hero h1 {
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        left: -32px;
    }
    .owl-carousel .owl-nav button.owl-next {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        right: -32px;
    }
    ul.navbar-nav {
        text-align: center;
        margin-right: 25px;
        line-height: 30px;
    }
    .agency_img {
        position: static;
        margin: auto;
        margin-bottom: 40px;
    }
    .agency_header {
        text-align: center;
    }
    .agency h3 {
        font-size: 40px;
    }
    .agency_content {
        text-align: center;
    }
    .hero p {
        padding-left: 0px;
      }
      .service_single_box {
        padding: 30px 25px 30px;
    } 
    .hero_content {
        margin-left: 10px;
    }
    .footer_single_box {
        margin-bottom: 30px;
    }
    .footer_useful_link ul li:last-child {
        margin-top: 0px;
    }
}
 /********** 991 e ************/

@media (max-width:767px) {
    .img {
        display: none;
    }
    .padding {
        display: none;;
    }
    .hero_content {
        text-align: center;
        margin: 0;
    }
    .hero h3 {
        font-size: 25px;
    }
    .hero h1 {
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 20px;
        left: 0;
    }
    .owl-carousel .owl-nav button.owl-next {
        width: 25px;
        height: 25px;
        font-size: 16px;
        line-height: 20px;
        right: 0;
    }
    .agency h3 {
        font-size: 35px;
    }
    .service_header h5 {
        font-size: 22px;
    }
    .price_single_box {
        margin-bottom: 25px;
    }
}
 /********** 767 e ************/

@media (max-width:575px) {
    .owl-nav{
        display: none;
    }
    .hero h3 {
        font-size: 22px;
    }
    .hero h1 {
        font-size: 22px;
        padding: 10px 18px;
    }
    .agency_img {
        width: 350px;
    }
    .agency_content h5 {
        font-size: 20px;
        margin: 8px 0;
    }
    .agency h3 {
        font-size: 25px;
    }
    .client .owl-carousel .owl-nav {
        display: none;
    }
    .footer_useful_link {
        display: inherit;
        text-align: center;
    }
    .footer_useful_link h3 {
        margin-bottom: 15px;
    }
    .footer_useful_link ul {
        justify-content: center;
    }
    
    
}
 /********** 575 e ************/

@media (max-width:425px) {
    .btn_learn {
        font-size: 15px;
        padding: 10px 15px;
        margin-right: 5px;
    }
    .btn_book {
        font-size: 15px;
        padding: 10px 15px;
    }
    .agency_img {
        width: 296px;
    }
    .agency_content .col-6{
        width: 100%;
    }
}
 /********** 425 e ************/

@media (max-width:320px) {
    
}